@{
    ViewData["Title"] = "Home Page";
}

<h1>Database Servers</h1>

<table>
    <thead>
    <tr>
        <th>Node</th>
        <th>CPU</th>
        <th>Memory</th>
        <th>Network</th>
        <th>Disk</th>
    </tr>


    </thead>
    
    <tbody>
        

    </tbody>

</table>